cycler
fastparquet
kiwisolver
llvmlite
matplotlib
nibabel
nilearn
numba
numpy
pandas
patsy
pyarrow
pyparsing
python-dateutil
pytz
scikit-learn
scipy
six
statsmodels
simplejson
jsonpickle
coinstac==0.3.3b0
